<!DOCTYPE html>
<html>

<%- include('../includes/head') %>

    <head>
        <meta name="google-adsense-account" content="ca-pub-6580783478903307">
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            @media only screen and (max-width: 527px) {
                section {
                    margin: 0 50px;
                    font-size: 1rem;
                }

                .parent>div>span {
                    width: 80vw;
                }
            }

            .lContainer {
                display: flex;
                /* justify-content: space-between; */
                gap: 50px;
                flex-direction: column;
                /* background: pink; */
                height: 80%;
            }

            .setting {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.2rem;
            }

            .setting>a>img {
                width: 25px;
            }

            .title {
                text-align: center;
                /* background: red; */
                margin: 20px 0;
                font-size: 1.5rem;
            }

            .supportlink {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 20px 0;
            }

            .supportlink>a>i {
                /* background: red; */
                font-size: 2rem;
            }

            .row {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100vw;
            }

            @media only screen and (max-width: 998px) {
                .row {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                }
            }
        </style>
    </head>

    <body style="background-image: url(/dist/img/mainbg.svg); background-repeat: repeat; background-size: cover; width: 100vw; height: auto; background-position: center; color: white; font-family:
    Poppins, sans-serif; 
    font-weight: 500;">
        <!-- The header is the topbar -->
        <%- include('../includes/header') %>


            <!-- Content Wrapper. Contains page content -->
            <div class="content">

                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h3> Greeting </h3>
                </section>

                <!-- Content -->
                <section class="content">
                    <div class="row" style="display: flex; align-items: center;">
                        <div class="col-md-6" style="display: flex; gap: 25px; flex-direction: column;">
                            <!-- WELCOME CONFIGURATION -->
                            <div class=""
                                style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); padding: 30px ; border-radius: 30px; box-shadow: 0 0 30px black; ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Welcome Embed</h3>
                                </div>
                                <form role="form" action="/manage/<%= guild.id %>/greeting" method="POST">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Content</label>
                                            <% if(guild.welcome.embed.description || guild.welcome.content) {%>
                                                <textarea rows="3" name="content"
                                                    class="form-control"><%- guild.welcome.content?.replaceAll(/\\n/g, '&#10;') %></textarea>
                                                <% } else { %>
                                                    <textarea rows="3" name="content" class="form-control"
                                                        placeholder="<%= 'Welcome to the server {member:name} 🎉' %>"
                                                        style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;"></textarea>
                                                    <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="3" name="description" class="form-control"
                                                style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;"
                                                placeholder="Write Description Here"><%- guild.welcome.embed.description?.replaceAll(/\\n/g, '&#10;') %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Footer</label>
                                            <input type="text" name="footer" class="form-control"
                                                value="<%= guild.welcome.embed.footer %>"
                                                style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;">
                                        </div>
                                        <div class="form-group">
                                            <label>Hex Color</label>
                                            <input type="text" name="hexcolor" class="form-control"
                                                value="<%= guild.welcome.embed.color %>"
                                                style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;">
                                        </div>
                                        <div class="form-group">
                                            <label>Image URL</label>
                                            <input type="text" name="image" class="form-control"
                                                value="<%= guild.welcome.embed.image %>"
                                                style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;">
                                        </div>
                                        <div class="form-group">
                                            <label>Channel</label>
                                            <select class="form-control" name="channel">
                                                <% if(bot.channels.cache.has(guild.welcome.channel)){ %>
                                                    <option selected="selected">#<%=
                                                            bot.channels.cache.get(guild.welcome.channel).name %>
                                                    </option>
                                                    <% guild.channels.cache.filter((ch)=> ch.id !==
                                                        guild.welcome.channel && ch.type === 0).forEach((ch) =>
                                                        { %>
                                                        <option>#<%= ch.name %>
                                                        </option>
                                                        <% }); } else { %>
                                                            <option disabled selected value> -- select an option
                                                                -- </option>
                                                            <% guild.channels.cache.filter((ch)=> ch.id !==
                                                                guild.channels.cache.first().id && ch.type ===
                                                                0).forEach((ch) => { %>
                                                                <option>#<%= ch.name %>
                                                                </option>
                                                                <% }); %>
                                                                    <% } %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <% if(guild.welcome.embed.thumbnail) { %>
                                                        <input type="checkbox" name="thumbnail" checked>Thumbnail
                                                        <% } else { %>
                                                            <input type="checkbox" name="thumbnail">Thumbnail
                                                            <% } %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer"
                                        style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px);">
                                        <% if(guild.farewell.enabled){ %>
                                            <button type="submit" name="farewellDisable" class="btn"
                                                style="background: linear-gradient(90deg, rgba(0, 255, 71, 1) 0%, rgba(0, 97, 27, 1) 100%); border: none; outline: none; width: 225px; height: 50px; border-radius: 12px; font-size: 1.8rem; margin-top: 15px;">Disable
                                                Messages</button>
                                            <button type=" submit" name="farewellUpdate"
                                                class="btn btn-primary pull-right"
                                                style="background: linear-gradient(90deg, rgba(0, 255, 71, 1) 0%, rgba(0, 97, 27, 1) 100%); border: none; outline: none; width: 225px; height: 50px; border-radius: 12px; font-size: 1.8rem; margin-top: 15px;">Update</button>
                                            <% } else { %>
                                                <button type="submit" name="farewellEnable" class="btn btn-success"
                                                    style="background: linear-gradient(90deg, rgba(0, 255, 71, 1) 0%, rgba(0, 97, 27, 1) 100%); border: none; outline: none; width: 225px; height: 50px; border-radius: 12px; font-size: 1.8rem; margin-top: 15px;">Enable
                                                    Message</button>
                                                <% } %>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-6" style="display: flex; gap: 25px; flex-direction: column;">
                            <!-- FAREWELL CONFIGURATION -->
                            <div class=""
                                style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); padding: 30px ; border-radius: 30px; box-shadow: 0 0 30px black; ">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Farewell Configuration</h3>
                                </div>
                                <form role="form" action="/manage/<%= guild.id %>/greeting" method="POST">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Content</label>
                                            <% if(guild.farewell.embed.description || guild.farewell.content) {%>
                                                <textarea rows="3" name="content"
                                                    class="form-control"><%- guild.farewell.content?.replaceAll(/\\n/g, '&#10;') %></textarea>
                                                <% } else { %>
                                                    <textarea rows="3" name="content" class="form-control"
                                                        placeholder="<%= '{member:tag} has left the server 👋' %>"
                                                        style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;"></textarea>
                                                    <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="3" name="description" class="form-control"
                                                style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;"
                                                placeholder="Write Description Here"><%- guild.farewell.embed.description?.replaceAll(/\\n/g, '&#10;') %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Footer</label>
                                            <input type="text" name="footer" class="form-control"
                                                value="<%= guild.farewell.embed.footer %>"
                                                style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;">
                                        </div>
                                        <div class="form-group">
                                            <label>Hex Color</label>
                                            <input type="text" name="hexcolor" class="form-control"
                                                value="<%= guild.farewell.embed.color %>"
                                                style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;">
                                        </div>
                                        <div class="form-group">
                                            <label>Image URL</label>
                                            <input type="text" name="image" class="form-control"
                                                value="<%= guild.farewell.embed.image %>"
                                                style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;">
                                        </div>
                                        <div class="form-group">
                                            <label>Channel</label>
                                            <select class="form-control" name="channel">
                                                <% if(bot.channels.cache.has(guild.farewell.channel)){ %>
                                                    <option selected="selected">#<%=
                                                            bot.channels.cache.get(guild.farewell.channel).name %>
                                                    </option>
                                                    <% guild.channels.cache.filter((ch)=> ch.id !==
                                                        guild.farewell.channel && ch.type === 0).forEach((ch) =>
                                                        { %>
                                                        <option>#<%= ch.name %>
                                                        </option>
                                                        <% }); } else { %>
                                                            <option disabled selected value> -- select an option
                                                                -- </option>
                                                            <% guild.channels.cache.filter((ch)=> ch.id !==
                                                                guild.channels.cache.first().id && ch.type ===
                                                                0).forEach((ch) => { %>
                                                                <option>#<%= ch.name %>
                                                                </option>
                                                                <% }); %>
                                                                    <% } %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <% if(guild.farewell.embed.thumbnail) { %>
                                                        <input type="checkbox" name="thumbnail" checked>Thumbnail
                                                        <% } else { %>
                                                            <input type="checkbox" name="thumbnail">Thumbnail
                                                            <% } %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer"
                                        style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px);">
                                        <% if(guild.farewell.enabled){ %>
                                            <button type="submit" name="farewellDisable" class="btn"
                                                style="background: linear-gradient(90deg, rgba(0, 255, 71, 1) 0%, rgba(0, 97, 27, 1) 100%); border: none; outline: none; width: 225px; height: 50px; border-radius: 12px; font-size: 1.8rem; margin-top: 15px;">Disable
                                                Messages</button>
                                            <button type=" submit" name="farewellUpdate"
                                                class="btn btn-primary pull-right"
                                                style="background: linear-gradient(90deg, rgba(0, 255, 71, 1) 0%, rgba(0, 97, 27, 1) 100%); border: none; outline: none; width: 225px; height: 50px; border-radius: 12px; font-size: 1.8rem; margin-top: 15px;">Update</button>
                                            <% } else { %>
                                                <button type="submit" name="farewellEnable" class="btn btn-success"
                                                    style="background: linear-gradient(90deg, rgba(0, 255, 71, 1) 0%, rgba(0, 97, 27, 1) 100%); border: none; outline: none; width: 225px; height: 50px; border-radius: 12px; font-size: 1.8rem; margin-top: 15px;">Enable
                                                    Message</button>
                                                <% } %>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div>
                </section>

            </div>
            <!-- /.content-wrapper -->

            <%- include('../includes/footer') %>
                </div>
                <!-- ./wrapper -->
    </body>

</html>