<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-adsense-account" content="ca-pub-6580783478903307">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body class="flex inset-0 -z-10 h-full w-full items-center [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)] text-white">
    <%- include('../includes/asidebar') %>
    <main>
        <span>
            <h3> Basic </h3>
        </span>

        <section>
            <div>
                <div>
                    <!-- BASIC CONFIGURATION -->
                    <div>
                        <div>
                            <h3>General</h3>
                        </div>
                        <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                            <div>
                                <div>
                                    <label>Prefix</label>
                                    <input type="text" name="prefix"
                                        placeholder="Prefix of your Server = <%= guild.prefix %>">
                                </div>
                                <div>
                                    <div>
                                        <label>
                                            <% if(guild.flag_translation?.enabled) { %>
                                                <input type="checkbox" name="flag_translation" checked>Flag
                                                Translation
                                                <% } else { %>
                                                    <input type="checkbox" name="flag_translation">Flag
                                                    Translation
                                                    <% } %>
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label>
                                            <% if(guild.invite.tracking) { %>
                                                <input type="checkbox" name="invite_tracking" checked>Invite
                                                Tracking
                                                <% } else { %>
                                                    <input type="checkbox" name="invite_tracking">Invite
                                                    Tracking
                                                    <% } %>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" name="basicUpdate">Update</button>
                            </div>
                        </form>
                    </div>
                    <!-- END: BASIC CONFIGURATION -->

                    <!-- STATISTICS CONFIGURATION -->
                    <div>
                        <div>
                            <h3>Statistics</h3>
                        </div>
                        <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                            <div>
                                <div>
                                    <div>
                                        <label>
                                            <% if(guild.stats.enabled) { %>
                                                <input type="checkbox" name="ranking" checked>Tracking
                                                <% } else { %>
                                                    <input type="checkbox" name="ranking">Tracking
                                                    <% } %>
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <label>Levelup Message</label>
                                    <input type="text" name="levelup_message"
                                        placeholder="<%= guild.stats.xp.message %>">
                                </div>
                                <div>
                                    <label>Levelup Channel</label>
                                    <select name="levelup_channel">
                                        <% if(guild.stats.xp.channel && bot.channels.cache.has(guild.stats.xp.channel)){
                                            %>
                                            <option selected="selected">#<%=
                                                    bot.channels.cache.get(guild.stats.xp.channel).name %>
                                            </option>
                                            <% guild.channels.cache.filter((ch)=> ch.type === 0 && ch.id
                                                !== guild.stats.xp.channel).forEach((ch) => { %>
                                                <option>#<%= ch.name %>
                                                </option>
                                                <% }); %>
                                                    <option>No channel</option>
                                                    <% } else { %>
                                                        <option disabled selected value> -- select an
                                                            option -- </option>
                                                        <% guild.channels.cache.filter((ch)=> ch.type
                                                            === 0).forEach((ch) => { %>
                                                            <option>#<%= ch.name %>
                                                            </option>
                                                            <% }); %>
                                                                <% } %>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="submit" name="basicUpdate">Update</button>
                            </div>
                        </form>
                    </div>
                    <!-- END: BASIC CONFIGURATION -->

                    <!-- TICKET CONFIGURATION -->
                    <div>
                        <div">
                            <h3>Ticket</h3>
                    </div>
                    <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                        <div>
                            <div>
                                <label>Ticket Limit</label>
                                <input type="number" name="limit" class="form-control"
                                    placeholder="<%= guild.ticket.limit %>"
                                    style="background-color: rgba(255, 255, 255, 0); backdrop-filter: blur(100px); color: white; outline: none; border-bottom: 2px solid white; border-top: none; border-left: none; border-right: none;">
                            </div>
                            <div>
                                <label>Ticket Logs</label>
                                <select class="form-control" name="channel">
                                    <% if(guild.ticket.log_channel && bot.channels.cache.has(guild.ticket.log_channel)){
                                        %>
                                        <option selected="selected">#<%=
                                                bot.channels.cache.get(guild.ticket.log_channel).name %>
                                        </option>
                                        <% guild.channels.cache.filter((ch)=> ch.type === 0 && ch.id
                                            !== guild.ticket.log_channel).forEach((ch) => { %>
                                            <option>#<%= ch.name %>
                                            </option>
                                            <% }); %>
                                                <option>No channel</option>
                                                <% } else { %>
                                                    <option disabled selected value> -- select an
                                                        option -- </option>
                                                    <% guild.channels.cache.filter((ch)=> ch.type
                                                        === 0).forEach((ch) => { %>
                                                        <option>#<%= ch.name %>
                                                        </option>
                                                        <% }); %>
                                                            <% } %>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="submit" name="basicUpdate">Update</button>
                        </div>
                    </form>
                </div>
                <!-- END: TICKET CONFIGURATION -->

            </div>

            <div>

                <!-- MODERATION CONFIGURATION -->
                <div>
                    <div>
                        <h3>Moderation</h3>
                    </div>
                    <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                        <div>
                            <div>
                                <label>Max Warnings</label>
                                <input type="number" name="max_warnings" placeholder="<%= guild.max_warn.limit %>">
                            </div>
                            <div>
                                <label>Max Warnings Action</label>
                                <select name="max_warn_action">
                                    <option selected="selected">
                                        <%= guild.max_warn.action %>
                                    </option>
                                    <% if(guild.max_warn.action !=="TIMEOUT" ) { %>
                                        <option>TIMEOUT</option>
                                        <% } %>
                                            <% if(guild.max_warn.action !=="KICK" ) { %>
                                                <option>KICK</option>
                                                <% } %>
                                                    <% if(guild.max_warn.action !=="BAN" ) { %>
                                                        <option>BAN</option>
                                                        <% } %>
                                </select>
                            </div>
                            <div>
                                <label>Moderation Logs</label>
                                <select class="form-control" name="modlog_channel">
                                    <% if(guild.modlog_channel && bot.channels.cache.has(guild.modlog_channel)){ %>
                                        <option selected="selected">#<%=
                                                bot.channels.cache.get(guild.modlog_channel).name %>
                                        </option>
                                        <% guild.channels.cache.filter((ch)=> ch.type === 0 && ch.id
                                            !== guild.modlog_channel).forEach((ch) => { %>
                                            <option>#<%= ch.name %>
                                            </option>
                                            <% }); %>
                                                <option>No channel</option>
                                                <% } else { %>
                                                    <option disabled selected value> -- select an
                                                        option -- </option>
                                                    <% guild.channels.cache.filter((ch)=> ch.type
                                                        === 0).forEach((ch) => { %>
                                                        <option>#<%= ch.name %>
                                                        </option>
                                                        <% }); %>
                                                            <% } %>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="submit" name="basicUpdate">Update</button>
                        </div>
                    </form>
                </div>
                <!-- END: MODERATION CONFIGURATION -->

                <!-- AUTOMOD CONFIGURATION -->
                <div">
                    <div>
                        <h3>Auto Moderation</h3>
                    </div>
                    <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                        <div>
                            <div>
                                <label>Max Strikes</label>
                                <input type="number" name="max_strikes" placeholder="<%= guild.automod.strikes %>">
                            </div>
                            <div>
                                <label>Max Strikes Action</label>
                                <select name="automod_action">
                                    <option selected="selected">
                                        <%= guild.automod.action %>
                                    </option>
                                    <% if(guild.automod.action !=="TIMEOUT" ) { %>
                                        <option>TIMEOUT</option>
                                        <% } %>
                                            <% if(guild.automod.action !=="KICK" ) { %>
                                                <option>KICK</option>
                                                <% } %>
                                                    <% if(guild.automod.action !=="BAN" ) { %>
                                                        <option>BAN</option>
                                                        <% } %>
                                </select>
                            </div>
                            <div>
                                <label>Max Lines</label>
                                <input type="number" name="max_lines" placeholder="<%= guild.automod.max_lines %>">
                            </div>
                            <div>
                                <div class="checkbox">
                                    <label>
                                        <% if(guild.automod.anti_attachments) { %>
                                            <input type="checkbox" name="anti_attachments" checked>Anti
                                            Attachments
                                            <% } else { %>
                                                <input type="checkbox" name="anti_attachments">Anti
                                                Attachments
                                                <% } %>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <% if(guild.automod.anti_invites) { %>
                                            <input type="checkbox" name="anti_invites" checked>Anti
                                            Invites
                                            <% } else { %>
                                                <input type="checkbox" name="anti_invites">Anti
                                                Invites
                                                <% } %>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <% if(guild.automod.anti_links) { %>
                                            <input type="checkbox" name="anti_links" checked>Anti
                                            Links
                                            <% } else { %>
                                                <input type="checkbox" name="anti_links">Anti Links
                                                <% } %>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <% if(guild.automod.anti_spam) { %>
                                            <input type="checkbox" name="anti_spam" checked>Anti
                                            Spam
                                            <% } else { %>
                                                <input type="checkbox" name="anti_spam">Anti Spam
                                                <% } %>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <% if(guild.automod.anti_ghostping) { %>
                                            <input type="checkbox" name="anti_ghostping" checked>Anti
                                            Ghostping
                                            <% } else { %>
                                                <input type="checkbox" name="anti_ghostping">Anti
                                                Ghostping
                                                <% } %>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <% if(guild.automod.anti_massmention) { %>
                                            <input type="checkbox" name="anti_massmention" checked>Anti
                                            Massmention
                                            <% } else { %>
                                                <input type="checkbox" name="anti_massmention">Anti
                                                Massmention
                                                <% } %>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <label>Whitelisted Channels</label>
                                <select name="channels" multiple>
                                    <% guild.channels.cache.filter((ch)=> ch.type ===
                                        0).forEach((ch) => { %>
                                        <% if(guild.automod.wh_channels.includes(ch.id) ){ %>
                                            <option selected="selected">#<%= ch.name %>
                                            </option>
                                            <% } else { %>
                                                <option>#<%= ch.name %>
                                                </option>
                                                <% } %>
                                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="submit" name="basicUpdate">Update</button>
                        </div>
                    </form>
            </div>
            <!-- END: AUTOMOD CONFIGURATION -->
        </section>
    </main>
</body>

</html>